@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-stone-950 overflow-hidden;
}

* {
  @apply text-slate-100
}

@layer components {
  .container {
    @apply max-w-screen-xl mx-auto px-4;
  }
  .header--menu-item {
    @apply border-b-2 transition ease-in-out duration-300 border-stone-950 hover:border-b-2 hover:border-slate-100 text-2xl md:text-base;
  }
}
